<header class="header">
    <nav class="menu">
        <a class="menuItem" href="/">Главная</a>
        <a class="menuItem" href="/lessons">Оглавление</a>
        <a class="menuItem" href="/">Еще что-то</a>
    </nav>
</header>
