
<h2 class="title">Главная страница</h2>
<p class="text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur cupiditate eius est, facere nesciunt odit officiis praesentium quo rem, reprehenderit, saepe sint! Amet incidunt nihil quasi repellat repellendus, tenetur.
</p>
<h3 class="subtitle">Какой-то важный текст</h3>
<p class="text important-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae distinctio, dolorem eaque facere facilis illo impedit laborum, nesciunt nihil numquam obcaecati provident quas repellat suscipit vero voluptate? Aliquid beatae dicta dolorem dolores, earum esse fugit id illum in inventore ipsa iure, neque numquam omnis quia quo sed vel voluptatibus?
</p>

