
<h2 class="title" style="font-size: 4rem;">ДОРОГИЕ РЕБЯТА!</h2>
<div class="important-text" style="font-size: 1.5rem;">
    <p class="text" style="margin-bottom: 1rem; font-size: 1.5rem;">
        Вы продолжаете изучать одну из самых древних и важных наук — математику. В современной жизни трудно обойтись без хорошего знания этой науки. Любому человеку нередко приходится выполнять различные вычисления и подсчёты.
    </p>
    <p style="margin-bottom: 1rem;" class="text">Основа хорошего понимания математики — умение считать, думать, рассуждать, находить удачные решения задач. Все эти навыки и способности вы можете выработать, если будете настойчивы, трудолюбивы и внимательны на уроках, будете самостоятельно и с интересом заниматься дома.</p>
    <p style="margin-bottom: 1rem;" class="text">Мы рады видеть Вас здесь и готовы предложить множество удобных и полезных функций, чтобы облегчить Вашу жизнь.</p>
    <p class="text">Любую тему вам поможет отыскать Оглавление, а забытое понятие или правило поможет вспомнить Предметный указатель.</p>
</div>
