<h2 class="title">Оглавление</h2>
<div class="important-text">
    <h3 class="subtitle">Глава 1. Обыкновенные дроби</h3>
    <a href="lessons/t1l1s1" class="menuItem">Тема 1: Делимость чисел</a>
</div>