<h2 class="title">Оглавление</h2>
<div class="important-text" style="padding: 2rem">
    <h3 class="subtitle" style="margin-top: 0;">Глава 1. Обыкновенные дроби</h3>
    <h4 class="subtitle">Тема 1: Делимость чисел</h4>
    <ol>
        <li><a href="lessons/t1l1s1" class="menuItem">Делители и кратные</a></li>
        <li><a href="lessons/t1l1s2" class="menuItem">Признаки делимости на 10, на 5 и на 2</a></li>
        <li><a href="lessons/t1l1s3" class="menuItem">Признаки делимости на 9 и на 3</a></li>
        <li><a href="lessons/t1l1s4" class="menuItem">Простые и составные числа</a></li>
        <li><a href="lessons/t1l1s5" class="menuItem">Разложение на простые множители</a></li>
        <li><a href="lessons/t1l1s6" class="menuItem">Наибольший общий делитель. Взаимно простые числа</a></li>
        <li><a href="lessons/t1l1s7" class="menuItem">Наименьшее общее кратное</a></li>
    </ol>

    <h4 class="subtitle">Тема 2: СЛОЖЕНИЕ И ВЫЧИТАНИЕ ДРОБЕЙ С РАЗНЫМИ ЗНАМЕНАТЕЛЯМИ</h4>
    <ol>
        <li><a href="lessons/t1l2s1" class="menuItem">Основное свойство дроби</a></li>
        <li><a href="lessons/t1l2s2" class="menuItem">Сокращение дробей</a></li>
        <li><a href="lessons/t1l2s3" class="menuItem">Приведение дробей к общему знаменателю</a></li>
        <li><a href="lessons/t1l2s4" class="menuItem">Сравнение, сложение и вычитание дробей с разными знаменателями</a></li>
        <li><a href="lessons/t1l2s5" class="menuItem">Сложение и вычитание смешанных чисел</a></li>
    </ol>

    <h4 class="subtitle">Тема 3. УМНОЖЕНИЕ И ДЕЛЕНИЕ ОБЫКНОВЕННЫХ ДРОБЕЙ</h4>
    <ol>
        <li><a href="lessons/t1l3s1" class="menuItem">Умножение дробей</a></li>
        <li><a href="lessons/t1l3s2" class="menuItem">Нахождение дроби от числа</a></li>
        <li><a href="lessons/t1l3s3" class="menuItem">Применение распределительного свойства умножения</a></li>
        <li><a href="lessons/t1l3s4" class="menuItem">Взаимно обратные числа</a></li>
        <li><a href="lessons/t1l3s5" class="menuItem">Деление</a></li>
        <li><a href="lessons/t1l3s6" class="menuItem">Нахождение числа по его дроби</a></li>
        <li><a href="lessons/t1l3s7" class="menuItem">Дробные выражения</a></li>
    </ol>

    <h4 class="subtitle">Тема 4: ОТНОШЕНИЯ И ПРОПОРЦИИ</h4>
    <ol>
        <li><a href="lessons/t1l4s1" class="menuItem">Отношения</a></li>
        <li><a href="lessons/t1l4s2" class="menuItem">Пропорции</a></li>
        <li><a href="lessons/t1l4s3" class="menuItem">Прямая м обратная пропорциональные зависимости</a></li>
        <li><a href="lessons/t1l4s4" class="menuItem">Масштаб</a></li>
        <li><a href="lessons/t1l4s5" class="menuItem">Длина окружности и площадь круга.</a></li>
        <li><a href="lessons/t1l4s6" class="menuItem">Шар</a></li>
    </ol>

    <h4 class="subtitle">ПРИЛОЖЕНИЯ</h4>
    <ol>
        <li><a href="" class="menuItem">Таблица простых чисел.</a></li>
        <li><a href="" class="menuItem">Соотношения между единицами измерения длин, площадей и объёмов</a></li>
        <li><a href="" class="menuItem">Квадраты и кубы натуральных чисел</a></li>
        <li><a href="" class="menuItem">Склонение числительных</a></li>
        <li><a href="" class="menuItem">Повторение курса математики 5 класса</a></li>
    </ol>
    <h4 class="subtitle"><a href="" class="menuItem">ПРЕДМЕТЫЙ УКАЗАТЕЛЬ</a></h4>









</div>