<h2 class="title">Делимость чисел</h2>


<h3 class="subtitle">6. Наибольший общий делитель. Взаимно простые числа</h3>
<p class="text">
    В самом начале мы с вами немного познакомились с Наибольший
    общий делителем. А сейчас разберем по подробнее данную тему.
</p>
<p class="text important-text">
    Задача. Какое наибольшее число одинаковых подарков можно
    составить из 48 конфет «Ласточка» и 36 конфет «Дюшес», если
    надо использовать все конфеты?<br> <br>
    Р е ш е н и е. <br>
    Каждое из чисел 48 и 36 должно делиться на число
    подарков. Поэтому сначала выпишем все делители числа 48. <br>
    Получим: 1, 2, 3, 4, 6, 8, 12, 16, 24, 48. <br>
    Затем выпишем все делители числа 36. <br>
    Получим: 1, 2, 3, 4, 6, 9, 12, 18, 36. <br>
    Общими делителями чисел 48 и 36 будут: 1, 2, 3, 4, 6, 12. <br>

    Видим, что наибольшим из этих чисел является 12. Его называют
    наибольшим общим делителем чисел 48 и 36.
</p>

<p class="text">
    Наибольшее натуральное число, на которое делятся без общий
    делитель остатка несколько чисел, называют наибольшим общим
    делителем этих чисел.
</p>

<p class="text">
    Найдём наибольший общий делитель чисел 24 и 35. <br>
    Делителями числа 24 будут 1, 2, 3, 4, 6, 8, 12, 24, а делителями
    числа 35 будут 1, 5, 7, 35. <br>
    Видим, что числа 24 и 35 имеют только один общий делитель —
    число 1. Такие числа называют взаимно простыми.
</p>
<p class="important-text text">
    Натуральные числа называют взаимно простыми, если их
    наибольший общий делитель равен 1.
</p>
<p class="text important-text">
    Наибольший общий делитель можно найти, не выписывая всех
    делителей данных чисел:<br>
    Разложим на множители числа 48 и 36, получим:
    48 = 2 · 2 · 2 · 2 · 3, 36 = 2 · 2 · 3 · 3. <br>
    Из множителей, входящих в разложение первого из этих чисел,
    вычеркнем те, которые не входят в разложение второго числа (это
    две двойки). <br>
    Остаются множители 2 · 2 · 3. Их произведение равно 12. Это число
    и является наибольшим общим делителем чисел 48 и 36. Так же
    находят наибольший общий делитель трёх и более чисел.
</p>

<div class="important-text">
    <p class="text">
        Чтобы найти наибольший общий делитель нескольких натуральных
        чисел, надо:
    </p>
    <ol>
        <li>разложить их на простые множители;</li>
        <li>из множителей, входящих в разложение одного из этих чисел, вычеркнуть те, которые не входят в разложение других чисел;</li>
        <li>найти произведение оставшихся множителей.</li>
    </ol>

    <p class="text">
        Если все данные числа делятся на одно из них, то это число и
        является наибольшим общим делителем данных чисел.
        Например, наибольшим общим делителем чисел 15, 45, 75 и 180
        будет число 15, так как на него делятся все остальные числа: 45, 75
        и 180.
    </p>
</div>
<p class="text important-text">
    Алгоритм Евклида - это метод нахождения наибольшего общего
    делителя (НОД) чисел. Алгоритм заключается в последовательном
    делении одного числа на другое с последующей заменой остатка на
    делитель до тех пор, пока остаток не станет равным 0. Таким
    образом, последний делитель в этой последовательности и будет
    наибольшим общим делителем.
</p>
<p class="text">
    Например, для нахождения НОД чисел 48 и 60, мы можем
    последовательно делить большее число на меньшее, заменяя
    остаток на делитель до тех пор, пока не получим 0: <br>
    60 48 = 1 (остаток 12) <br>
    48 12 = 4 (остаток 0) <br>
    Таким образом, НОД(48, 60) = 12.
</p>
<p class="text important-text">
    Этот метод основывается на свойствах арифметики, а именно на
    том, что любой общий делитель двух чисел делит их разность без
    остатка. Это позволяет последовательно находить НОД чисел с
    помощью деления их друг на друга с последующей заменой остатка
    на делитель, пока остаток не обнулится.
</p>



<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Какое число называют наибольшим общим делителем двух натуральных чисел?</li>
        <li>Какие два числа называют взаимно простыми?</li>
        <li>Как найти наибольший общий делитель нескольких натуральных чисел?</li>
        <li>Число a кратно числу b. Какое число является наибольшим общим делителем чисел a и b?</li>
    </ol>
</div>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l1s6";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Какой наибольший общий делитель у чисел 36 и 48?",
                options: [
                    "6",
                    "12",
                    "18"
                ],
                correct: "12",
            },
            {
                id: "1",
                question: "Какой наименьший общий делитель у чисел 15 и 25? ",
                options: [
                    "1",
                    "5",
                    "15"
                ],
                correct: "5",
            },
            {
                id: "2",
                question: "Что такое взаимно простые числа?",
                options: [
                    "Числа, которые имеют общий делитель, кроме 1",
                    "Числа, которые не имеют общих делителей, кроме 1",
                    "Числа, которые имеют несколько общих делителей, отличных от 1"
                ],
                correct: "Числа, которые не имеют общих делителей, кроме 1",
            },
            {
                id: "3",
                question: "Какой наибольший общий делитель у чисел 21 и 28?",
                options: [
                    "3",
                    "7",
                    "14"
                ],
                correct: "3",
            },
            {
                id: "4",
                question: "Могут ли числа 8 и 15 быть взаимно простыми?",
                options: [
                    "Да",
                    "Нет"
                ],
                correct: "Нет",
            },
            {
                id: "5",
                question: "Какой наибольший общий делитель у чисел 105 и 140?",
                options: [
                    "5",
                    "7",
                    "35"
                ],
                correct: "35",
            }, {
                id: "6",
                question: "Могут ли числа 5 и 9 быть взаимно простыми?",
                options: [
                    "Да",
                    "Нет"
                ],
                correct: "Да",
            },
            {
                id: "7",
                question: "Какой наименьший общий делитель у чисел 9 и 12?",
                options: [
                    "1",
                    "3",
                    "9"
                ],
                correct: "3"
            },{
                id: "8",
                question: "Могут ли числа 26 и 39 быть взаимно простыми?",
                options: [
                    "Да",
                    "Нет"
                ],
                correct: "Нет"
            },
            {
                id: "9",
                question: "Как называется число, которое является наибольшим общим делителем двух чисел?",
                options: [
                    "Наименьший общий множитель",
                    "Наименьший общий делитель",
                    "Наибольший общий множитель",
                ],
                correct: "Наибольший общий множитель"
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l1s5">Предыдущая тема</a>
    <a href="t1l1s7">Следующая тема</a>
</div>