<h2 class="title">Делимость чисел</h2>


<h3 class="subtitle">3. Признаки делимости на 9 и на 3</h3>
<p class="text subtitle">Признак делимости на 9</p>
<p class="text important-text">
    Если сумма цифр числа делится на 9, то и число делится на 9; если
    сумма цифр числа не делится на 9, то и число не делится на 9.
</p>
<p class="text">
    Пример 1. Число 76 455 делится на 9, так как сумма его цифр: 7 + 6
    + 4 + 5 + 5 = 27 — делится на 9. <br>
    Пример 2. Число 51 634 не делится на 9, так как сумма его цифр: 5
    + 1 + 6 + 3 + 4 = 19 — не делится на 9.
</p>

<p class="text subtitle">Признак делимости на 3</p>
<p class="text important-text">
    Если сумма цифр числа делится на 3, то и число делится на 3; если
    сумма цифр числа не делится на 3, то и число не делится на 3.
</p>
<p class="text">
    Например, числа 870 и 875 делятся без остатка на 5, а числа 872 и
    873 на 5 без остатка не делятся.
</p>

<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Как по записи натурального числа узнать, делится оно на 9 или нет?</li>
        <li>Как по записи натурального числа узнать, делится оно на 3 или нет?</li>
    </ol>
</div>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l1s3";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Какой из следующих чисел делится на 9?",
                options: [
                    "20",
                    "45",
                    "77"
                ],
                correct: "45",
            },
            {
                id: "1",
                question: "Какое наименьшее натуральное число делится на 3 без остатка?",
                options: [
                    "25",
                    "33",
                    "50"
                ],
                correct: "25",
            },
            {
                id: "2",
                question: "Какое из этих чисел делится на 9, но не делится на 3?",
                options: [
                    "18",
                    "27",
                    "36",
                    "Никакое"
                ],
                correct: "Никакое",
            },
            {
                id: "3",
                question: "Чему должна быть равна сумма цифр числа, чтобы это число было кратно 9?",
                options: [
                    "3",
                    "6",
                    "9"
                ],
                correct: "9",
            },
            {
                id: "4",
                question: "Чем должно заканчиваться число, чтобы оно было кратно 3?",
                options: [
                    "0",
                    "2",
                    "5"
                ],
                correct: "0",
            },
            {
                id: "5",
                question: "Какое наименьшее число делится на 9 и на 3?",
                options: [
                    "3",
                    "6",
                    "9"
                ],
                correct: "9",
            }, {
                id: "6",
                question: " Можно ли разделить число на 9, если сумма его цифр не кратна 9?",
                options: [
                    "Да",
                    "Нет",
                ],
                correct: "Нет",
            },
            {
                id: "7",
                question: "Можно ли разделить число на 3, если его последняя цифра равна 5?",
                options: [
                    "Да",
                    "Нет",
                ],
                correct: "Нет"
            },{
                id: "8",
                question: " Чему может быть равно произведение цифр числа, чтобы это число было кратно 9? ",
                options: [
                    "3",
                    "6",
                    "9",
                ],
                correct: "9"
            },
            {
                id: "9",
                question: "Можно ли разделить число на 3, если сумма его цифр не кратна 3?",
                options: [
                    "Да",
                    "Нет",
                ],
                correct: "Нет"
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l1s2">Предыдущая тема</a>
    <a href="t1l1s4">Следующая тема</a>
</div>
