<h2 class="title">Делимость чисел</h2>


<h3 class="subtitle">5. Разложение на простые множители</h3>
<p class="text">
    Число 210 является произведением чисел 21 и 10. Значит, 210 = 21 ·
    10. Числа 21 и 10 составные. Их тоже можно представить в виде
    произведений 21 = 3 · 7, 10 = 2 · 5. Получаем: 210 = 3 · 7 · 2 · 5.
    Теперь в произведении 3 · 7 · 2 · 5 все множители — простые
    числа. Таким образом, число 210 разложено на простые множители.
    Число 210 можно разложить на простые множители иным
    способом: 210 = 30 · 7 = 10 · 3 · 7 = 5 · 2 · 3 · 7. Получились те же
    самые простые множители, только записанные в другом порядке.
    Обычно записывают множители в порядке их
    возрастания:
    210 = 2 · 3 · 5 · 7.
</p>
<div class="important-text">
    <p class="text">
        Всякое составное число можно разложить на простые на простые
        множители. При любом способе получается одно и то же
        множители разложение, если не учитывать порядка записи
        множителей. <br>
        При разложении чисел на простые множители используют
        признаки делимости.
    </p>
</div>

<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Существуют ли составные числа, которые нельзя разложить на простые множители?</li>
        <li>Чем могут отличаться два разложения одного и того же числа на простые множители?</li>
    </ol>
</div>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l1s5";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Что такое разложение на простые множители?",
                options: [
                    "Процесс нахождения всех множителей числа",
                    "Процесс нахождения простых множителей числа",
                    "Процесс нахождения суммы множителей числа"
                ],
                correct: "Процесс нахождения простых множителей числа",
            },
            {
                id: "1",
                question: " Как называется число, которое не может быть разложено на простые множители?",
                options: [
                    "Нуль",
                    "Единица",
                    "Десять"
                ],
                correct: "Единица",
            },
            {
                id: "2",
                question: "Как называется процесс сокращения дробей путем сокращения числителя и знаменателя на их НОД?",
                options: [
                    "Факторизация",
                    "Разложение на простые множители",
                    "Сокращение дробей"
                ],
                correct: "Сокращение дробей",
            },
            {
                id: "3",
                question: "Какое число получится при умножении всех простых множителей числа 12?",
                options: [
                    "12",
                    "24",
                    "36"
                ],
                correct: "8",
            },
            {
                id: "4",
                question: "Какой простой множитель присутствует в разложении числа 54?",
                options: [
                    "2",
                    "3",
                    "5"
                ],
                correct: "3",
            },
            {
                id: "5",
                question: "Какой простой множитель присутствует в разложении числа 91?",
                options: [
                    "7",
                    "9",
                    "10"
                ],
                correct: "7",
            }, {
                id: "6",
                question: "Какой простой множитель присутствует в разложении числа 17?",
                options: [
                    "1",
                    "16",
                    "17"
                ],
                correct: "17",
            },
            {
                id: "7",
                question: "Какой простой множитель присутствует в разложении числа 100?",
                options: [
                    "2",
                    "3",
                    "5"
                ],
                correct: "2"
            },{
                id: "8",
                question: "Какой простой множитель присутствует в разложении числа 128?",
                options: [
                    "2",
                    "3",
                    "7",
                ],
                correct: "2"
            },
            {
                id: "9",
                question: "Какое наименьшее натуральное число можно получить, умножив два различных простых числа?",
                options: [
                    "1",
                    "2",
                    "4",
                ],
                correct: "4"
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l1s4">Предыдущая тема</a>
    <a href="t1l1s6">Следующая тема</a>
</div>