<h2 class="title">Делимость чисел</h2>


<h3 class="subtitle">7. Наименьшее общее кратное</h3>
<p class="text important-text">
    Задача. Шаг Володи 75 см, а шаг Кати 60 см. На каком наименьшем
    расстоянии они сделают по целому числу шагов? <br> <br>
    Р е ш е н и е. <br>
    Число сантиметров пути должно делиться без остатка
    и на 75, и на 60, т. е. оно должно быть кратным и 75, и 60. <br>
    Выпишем числа, кратные 75. Получим: <br>
    75, 150, 225, 300, 375, 450, 525, 600, 675, 750 <br>
    Затем выпишем числа, кратные 60. Получим: <br>
    60, 120, 180, 240, 300, 360, 420, 480, 540, 600, 660, ... . <br>
    Общими кратными чисел 75 и 60 будут числа 300, 600, ... . <br>
    Наименьшим из них является 300. Это число называют <br>
    наименьшим общим кратным чисел 75 и 60. <br>
    Значит, наименьшим расстоянием, на котором Володя и Катя <br>
    сделают целое число шагов, будет 300 см. При этом Володя сделает <br>
    4 шага (300 : 75 = 4), а Катя — 5 шагов (300 : 60 = 5).
</p>
<p class="text">Наименьшим общим кратным натуральных чисел a и b называют
наименьшее натуральное число, которое кратно и a, и b.</p>

<p class="text">Наименьшее общее кратное чисел 75 и 60 можно найти и не
выписывая подряд кратные этих чисел. Для этого разложим числа
75 и 60 на простые множители: 75 = 3 · 5 · 5, а 60 = 2 · 2 · 3 · 5.
Выпишем множители, входящие в разложение первого из этих
чисел, и добавим к ним недостающие множители 2 и 2 из
разложения второго числа. </p>
<p class="text">Получаем пять множителей 2 · 2 · 3 · 5 · 5, произведение которых
равно 300. Это число является наименьшим общим кратным чисел
75 и 60.</p>
<p class="text">Так же находят наименьшее общее кратное для трёх и более чисел.</p>
<div class="important-text">
    <p class="text">Чтобы найти наименьшее общее кратное нескольких натуральных
    чисел, надо:</p>
    <ol>
        <li>разложить их на простые множители;</li>
        <li>выписать множители, входящие в разложение одного из чисел;</li>
        <li>добавить к ним недостающие множители из разложений остальных чисел;</li>
        <li>найти произведение получившихся множителей.</li>
    </ol>
    <p class="text">Заметим, что если одно из данных чисел делится на все остальные
    числа, то это число и является наименьшим общим кратным
    данных чисел.</p>
    <p class="text">Например, наименьшим общим кратным чисел 12, 15, 20 и 60 будет
    число 60, так как оно делится на все данные числа.</p>
</div>




<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Какое число называют наименьшим общим кратным натуральных чисел a и b?</li>
        <li>Как найти наименьшее общее кратное нескольких чисел?</li>
        <li>Какое число является наименьшим общим кратным чисел m и n, если число m кратно числу n?</li>
    </ol>
</div>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l1s7";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Что такое наименьшее общее кратное (НОК)?",
                options: [
                    "Наименьшее общее кратное - это наименьшее число, которое делится без остатка на два или более числа.",
                    "Наименьшее общее кратное - это набольшее число, которое делится без остатка на два или более числа.",
                    "Наименьшее общее кратное - это наименьшее число, которое делится с остатком на два или более числа."
                ],
                correct: "Наименьшее общее кратное - это наименьшее число, которое делится без остатка на два или более числа.",
            },
            {
                id: "1",
                question: "Что такое кратное числа?",
                options: [
                    "Числа, которые имеют общий делитель, кроме 1",
                    "Числа, которые не имеют общих делителей, кроме 1",
                    "Числа, которые делятся на заданное число без остатка"
                ],
                correct: "Числа, которые делятся на заданное число без остатка",
            },
            {
                id: "2",
                question: "Как рассчитать НОК для двух чисел?",
                options: [
                    "Найти все множители каждого числа и умножить их на кратности, исключая повторения",
                    "Вычислить наименьшее число, которое делится на оба числа без остатка",
                    "Получить сумму двух чисел"
                ],
                correct: "Найти все множители каждого числа и умножить их на кратности, исключая повторения",
            },
            {
                id: "3",
                question: "Как вычислить НОК трех и более чисел?",
                options: [
                    "Для вычисления НОК трех и более чисел, нужно найти НОК первых двух чисел, затем НОК этого числа и третьего числа и так далее, пока не будут учтены все числа.",
                    "Получить их сумму",
                    "Для вычисления НОК трех и более чисел, нужно найти НОК первых двух чисел."
                ],
                correct: "Для вычисления НОК трех и более чисел, нужно найти НОК первых двух чисел, затем НОК этого числа и третьего числа и так далее, пока не будут учтены все числа.",
            },
            {
                id: "4",
                question: "Как связано НОК с кратными числами?",
                options: [
                    "НОК является наименьшим общим кратным чисел, соответственно, любое кратное число, которое делится без остатка на эти числа, должно быть кратно НОК.",
                    "НОК является набольшим общим кратным чисел, соответственно, любое кратное число, которое делится без остатка на эти числа, должно быть кратно НОК."
                ],
                correct: "НОК является наименьшим общим кратным чисел, соответственно, любое кратное число, которое делится без остатка на эти числа, должно быть кратно НОК.",
            },
            {
                id: "5",
                question: "Как использовать НОК при решении задач на доли и дроби?",
                options: [
                    "В задачах на доли и дроби, НОК используется для приведения дробей к общему знаменателю и упрощению дробей.",
                    "В задачах на доли и дроби, НОК не используется.",
                ],
                correct: "В задачах на доли и дроби, НОК используется для приведения дробей к общему знаменателю и упрощению дробей.",
            }, {
                id: "6",
                question: "Какие методы существуют для вычисления НОК?",
                options: [
                    "Простой метод перебора, метод разложения на множители и метод использования НОД.",
                    "Только простой перебор"
                ],
                correct: "Существуют методы поиска НОК: простой метод перебора, метод разложения на множители и метод использования НОД.",
            },
            {
                id: "7",
                question: "Что такое наименьшее общее кратное?",
                options: [
                    "Минимальное число, которое делится на все заданные числа без остатка",
                    "Минимальное число, которое может делиться на каждое из заданных чисел без остатка",
                    "Минимальное число, которое не делится ни на одно из заданных чисел"
                ],
                correct: "Минимальное число, которое делится на все заданные числа без остатка"
            },{
                id: "8",
                question: "Для каких задач часто используется понятие НОК?",
                options: [
                    "Понятие НОК широко используется в арифметике, геометрии, физике, экономике и других областях, для решения задач на доли и дроби, расчета временных интервалов, работы с волнами и частотами.",
                    "Нигде",
                    "Только в школе",
                ],
                correct: "Понятие НОК широко используется в арифметике, геометрии, физике, экономике и других областях, для решения задач на доли и дроби, расчета временных интервалов, работы с волнами и частотами.",
            },
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l1s6">Предыдущая тема</a>
    <a href="t1l1test">Пройти тестирование</a>
</div>