<h2 class="title">Делимость чисел</h2>


<h3 class="subtitle">Проверочная работа</h3>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l1test";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);
        var setCounter = 30;

        const quizArray = [
            {
                id: "0",
                question: "Выражения 15, 3, 18 можно назвать:",
                options: [
                    "общими делителями",
                    "кратными",
                    "простыми числами"
                ],
                correct: "кратными",
            },
            {
                id: "1",
                question: "Признак делимости на 10 заключается в том, что:",
                options: [
                    "число заканчивается на 0",
                    "сумма цифр числа кратна 10",
                    "число делится без остатка на 10"
                ],
                correct: "число заканчивается на 0",
            },
            {
                id: "2",
                question: "Если число оканчивается на цифру 5, то оно делится без остатка на:",
                options: [
                    "5",
                    "2",
                    "10"
                ],
                correct: "5",
            },
            {
                id: "3",
                question: "Число 22 является:",
                options: [
                    "простым числом",
                    "составным числом",
                    "не является ни простым, ни составным"
                ],
                correct: "составным числом",
            },
            {
                id: "4",
                question: "Составное число можно разложить на:",
                options: [
                    "произведение трех простых чисел",
                    "произведение двух простых чисел",
                    "произведение четырех простых чисел"
                ],
                correct: "произведение двух простых чисел",
            },
            {
                id: "5",
                question: "Для нахождения НОД двух чисел нужно:",
                options: [
                    "сложить эти числа",
                    "разделить одно число на другое",
                    "найти общий делитель этих чисел, наибольший из которых будет НОД",
                ],
                correct: "найти общий делитель этих чисел, наибольший из которых будет НОД",
            }, {
                id: "6",
                question: "Два числа называются взаимно простыми, если:",
                options: [
                    "они делятся одновременно на одно и то же число",
                    "они не имеют общих делителей, кроме единицы",
                    "они являются простыми числами",
                ],
                correct: "они не имеют общих делителей, кроме единицы",
            },
            {
                id: "7",
                question: "Наименьший общий кратный для чисел 3 и 5 равен:",
                options: [
                    "8",
                    "15",
                    "45"
                ],
                correct: "45"
            },
            {
                id: "8",
                question: "Какие числа являются кратными числу 6?",
                options: [
                    "12, 30, 18, 24, 36",
                    "2, 3",
                    "36, 196",
                ],
                correct: "12, 30, 18, 24, 36",
            },{
                id: "9",
                question: "Проверьте, делится ли число 247 на 11 без остатка.",
                options: [
                    "Да",
                    "Нет",
                ],
                correct: "Да",
            },{
                id: "10",
                question: "Разложите число 96 на простые множители.",
                options: [
                    "2 * 2 * 2 * 2 * 2 * 3",
                    "6 * 16",
                    "9, 6",
                ],
                correct: "2 * 2 * 2 * 2 * 2 * 3",
            },{
                id: "11",
                question: "Найдите НОД чисел 45 и 27 с помощью алгоритма Евклида.",
                options: [
                    "9",
                    "5",
                    "7",
                ],
                correct: "9",
            },{
                id: "12",
                question: "Проверьте, являются ли числа 21 и 28 взаимно простыми.",
                options: [
                    "Нет",
                    "Да",
                ],
                correct: "Нет",
            },{
                id: "13",
                question: "Найдите НОК чисел 9 и 12.",
                options: [
                    "36",
                    "3",
                    "108",
                ],
                correct: "36",
            },{
                id: "14",
                question: "Мальчик купил 20 конфет на новогодний праздник и решил поделить их поровну между собой и 5 друзьями. Количество конфет, выпавшее на одного человека, должно быть целым числом. Сколько конфет получил каждый человек?",
                options: [
                    "3",
                    "4",
                    "5",
                ],
                correct: "3",
            },
        ]
    </script>
    <h3 class="text">Пройди тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Что такое делители и кратные числа?</li>
        <li>Какой признак делимости на 2?</li>
        <li>Почему число 1 не является ни простым, ни составным?</li>
        <li>Как происходит разложение на простые множители?</li>
        <li>Что такое НОД двух чисел? Из каких чисел можно найти НОД, используя алгоритм Евклида?</li>
        <li>Что такое взаимно простые числа? Как проверить, являются ли два числа взаимно простыми?</li>
        <li>Что такое наименьшее общее кратное? Как его находят?</li>
    </ol>
</div>


<div class="lesson-links">
    <a href="/lessons">В оглавление</a>
    <span></span>
</div>