<h2 class="title">Сложение и вычитание дробей с разными знаменателями</h2>


<h3 class="subtitle">5. Сложение и вычитание смешанных чисел</h3>
<p class="text important-text">
    Смешанное число - это число, которое состоит из целой части и
    дробной части. Сложение и вычитание смешанных чисел сводится
    к сложению и вычитанию дробей.
</p>

<h4 class="subtitle">Сложение смешанных чисел</h4>
<p class="text important-text">
    Для сложения смешанных чисел необходимо сначала привести их к
    несмешанным дробям. Для этого целая часть умножается на
    знаменатель и прибавляется к числителю. Затем складываются две
    дроби.
</p>
<p class="text">
    Например, сложить
    <math>
        <mrow>
            <mtext>1</mtext>
            <mfrac>
                <mrow><mo>2</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
            <mo>и</mo>
            <mtext>2</mtext>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
        </mrow>
    </math>.
    Приводим к несмешанным дробям:
</p>
<p class="text">
    <math>
        <mrow>
            <mtext>1</mtext>
            <mfrac>
                <mrow><mo>2</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>1 ∙ 3 + 2</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>5</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
        </mrow>
    </math>
    <br>
    <math>
        <mrow>
            <mtext>2</mtext>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>2 ∙ 4 + 1</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>9</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>
<p class="text">
    Теперь складываем две дроби:
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>5</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
            <mo>+</mo>
            <mfrac>
                <mrow><mo>9</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
        </mrow>
    </math>.
    Для этого приводим дроби к общему знаменателю:
</p>
<p class="text">
    Знаменатель 3: 3, 6, 9... <br>
    Знаменатель 4: 4, 8, 12... <br>
    Общий знаменатель 12.
</p>
<p class="text">
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>5</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
            <mo>∙</mo>
            <mfrac>
                <mrow><mo>4</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>20</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
        </mrow>
    </math>
    <br>
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>9</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>∙</mo>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>27</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>
<p class="text">
    Теперь можем сложить дроби:
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>20</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
            <mo>+</mo>
            <mfrac>
                <mrow><mo>27</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>47</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
        </mrow>
    </math>. <br>
    Получаем
    несмешанную дробь, которую можно привести к смешанному
    числу:
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>47</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mtext>3</mtext>
            <mfrac>
                <mrow><mo>11</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
        </mrow>
    </math>.
</p>
<p class="text">
    Ответ:
    <math>
        <mrow>
            <mtext>1</mtext>
            <mfrac>
                <mrow><mo>2</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
            <mo>+</mo>
            <mtext>2</mtext>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mtext>3</mtext>
            <mfrac>
                <mrow><mo>11</mo></mrow>
                <mrow><mo>12</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>


<h4 class="subtitle">Вычитание смешанных чисел</h4>
<p class="text important-text">
    Вычитание смешанных чисел также сводится к вычитанию дробей.
    Для вычитания необходимо привести смешанные числа к
    несмешанным дробям. Далее из большей дроби вычитаем
    меньшую.
</p>
<p class="text">
    Например, вычесть из
    <math>
        <mrow>
            <mtext>2</mtext>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>число</mo>
            <mtext>1</mtext>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
        </mrow>
    </math>.
    Приводим к несмешанным дробям:
</p>
<p class="text">
    <math>
        <mrow>
            <mtext>2</mtext>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>2 ∙ 8 + 3</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>19</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
        </mrow>
    </math>
    <br>
    <math>
        <mrow>
            <mtext>1</mtext>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>1 ∙ 2 + 1</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>
<p class="text">
    Теперь вычитаем меньшую дробь из большей:
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>19</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>-</mo>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
        </mrow>
    </math>
    . Первую дробь можно привести к общему знаменателю 8:
</p>
<p class="text">
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>19</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>-</mo>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
            <mo>∙</mo>
            <mfrac>
                <mrow><mo>4</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>19</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>-</mo>
            <mfrac>
                <mrow><mo>12</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>7</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>
<p class="text">
    Получаем
    несмешанную дробь, которую можно привести к смешанному
    числу:
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>7</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mtext>0</mtext>
            <mfrac>
                <mrow><mo>7</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
        </mrow>
    </math>.
</p>
<p class="text">
    Ответ:
    <math>
        <mrow>
            <mtext>2</mtext>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
            <mo>-</mo>
            <mtext>1</mtext>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mtext>0</mtext>
            <mfrac>
                <mrow><mo>7</mo></mrow>
                <mrow><mo>8</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>
<div class="important-text">
    <p class="text">
        Чтобы сложить смешанные числа, надо:
    </p>
    <ol>
        <li><p class="text">
            привести дробные части этих чисел к наименьшему общему
            знаменателю;
        </p></li>
        <li><p class="text">
            отдельно выполнить сложение целых частей и отдельно —
            дробных частей;
        </p></li>
        <li><p class="text">
            если при сложении дробных частей получилась неправильная
            дробь, выделить целую часть из этой дроби и прибавить её к
            полученной целой части.
        </p></li>
    </ol>
    <p class="text" style="margin-top: 1rem;">
        Чтобы выполнить вычитание смешанных чисел, надо:
    </p>
    <ol>
        <li><p class="text">
            привести дробные части этих чисел к наименьшему общему
            знаменателю;
        </p></li>
        <li><p class="text">
            если дробная часть уменьшаемого меньше дробной части
            вычитаемого, превратить её в неправильную дробь, уменьшив на
            единицу целую часть;
        </p></li>
        <li><p class="text">
            отдельно выполнить вычитание целых частей и отдельно
            дробных частей.
        </p></li>
    </ol>
    <p class="text">
        При вычитании смешанных чисел пользуются свойствами
        вычитания суммы из числа и вычитания числа из суммы.
    </p>
</div>
<p class="text">
    В заключение, сложение и вычитание смешанных чисел сводится к
    сложению и вычитанию дробей. Для этого необходимо привести
    смешанные числа к несмешанным дробям, после чего складывать
    или вычитать их. Получив несмешанную дробь, можно привести ее
    к смешанному числу.
</p>

<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Расскажите, как сложить смешанные числа и на каких свойствах
            сложения основано сложение смешанных чисел.</li>
        <li>Расскажите, как выполнить вычитание смешанных чисел и на каких
            свойствах основано правило вычитания смешанных чисел.</li>
    </ol>
</div>



<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l2s5";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Что такое смешанное число?",
                options: [
                    "Число, состоящее из целой и дробной части",
                    "Число, которое может быть представлено дробью, имеющей целый и дробный части",
                    "Любое целое положительное число"
                ],
                correct: "Число, состоящее из целой и дробной части",
            },
            {
                id: "1",
                question: "Как записать смешанное число в обычном виде дроби?",
                options: [
                    "Записываем целое число в числителе, а знаменатель равен 1",
                    "Дробную часть записываем в числителе, а знаменатель равен 1",
                    "Записываем произведение целой части на знаменатель, а к произведению прибавляем числитель дробной части и записываем результат в числитель, а знаменатель – знаменатель дробной части"
                ],
                correct: "Записываем произведение целой части на знаменатель, а к произведению прибавляем числитель дробной части и записываем результат в числитель, а знаменатель – знаменатель дробной части",
            },
            {
                id: "2",
                question: "Что нужно сделать с двумя смешанными числами, чтобы их сложить или вычесть?",
                options: [
                    "Привести смешанные числа к общему знаменателю",
                    "Привести смешанные числа к общему целому числу",
                    "Никаких дополнительных действий не нужно, можно сложить/вычесть целые части и дробные части"
                ],
                correct: "Никаких дополнительных действий не нужно, можно сложить/вычесть целые части и дробные части",
            },
            {
                id: "3",
                question: "Какое правило надо использовать, если суммируются/вычитаются дроби, в которых есть смешанные числа?",
                options: [
                    "Правило сложения/вычитания дробей с одинаковыми знаменателями",
                    "Правило сложения/вычитания обыкновенных дробей",
                    "Правило сложения/вычитания десятичных дробей"
                ],
                correct: "Правило сложения/вычитания обыкновенных дробей",
            },
            {
                id: "4",
                question: "Какие действия нужно выполнить с двумя смешанными числами, чтобы найти их общий числитель?",
                options: [
                    "Умножить целую часть на знаменатель и прибавить к произведению числитель дробной части",
                    "Оставить только дробные части и сложить их",
                    "Вычислить НОК знаменателей и умножить его на целые части смешанных чисел",
                ],
                correct: "Умножить целую часть на знаменатель и прибавить к произведению числитель дробной части",
            },
            {
                id: "5",
                question: "Что нужно сделать с финальным результатом сложения или вычитания смешанных чисел, чтобы получить его в обычном виде дроби?",
                options: [
                    "Разделить числитель на знаменатель и записать результат в дробном виде",
                    "Привести итоговую дробь к смешанному виду",
                    "Оставить итог в виде смешанного числа",
                ],
                correct: "Привести итоговую дробь к смешанному виду",
            }, {
                id: "6",
                question: "Как найти целую часть смешанной дроби?",
                options: [
                    "Найти целую часть числа, который получится после вычисления дроби",
                    "Отбросить дробную часть дроби и оставить только целую",
                    "Найти целую часть числителя и разделить ее на знаменатель"
                ],
                correct: "Отбросить дробную часть дроби и оставить только целую",
            }, {
                id: "7",
                question: "Какое число получится, если вычесть 5 3/8 из 7 1/2?",
                options: [
                    "2 5/8",
                    "2 3/8",
                    "2 6/8",
                    "2 7/8"
                ],
                correct: "2 5/8",
            }, {
                id: "8",
                question: "Какое число получится, если сложить 4 2/7 и 3 4/5?",
                options: [
                    "8 5/35",
                    "8 14/35",
                    "8 6/35",
                    "8 16/35",
                ],
                correct: "8 14/35",
            }, {
                id: "9",
                question: "Какое число получится, если вычесть 6 1/4 из 9 3/8?",
                options: [
                    "3 5/8",
                    "3 1/8",
                    "3 6/8",
                    "3 2/8"
                ],
                correct: "3 5/8",
            }, {
                id: "10",
                question: "Какое число получится, если сложить 2 3/4 и 1 1/3?",
                options: [
                    "4 1/12",
                    "4 7/12",
                    "4 5/12",
                    "4 2/3"
                ],
                correct: "4 5/12",
            }, {
                id: "11",
                question: "Какое число получится, если вычесть 1 2/5 из 3 1/4?",
                options: [
                    "1 11/20",
                    "1 3/20",
                    "1 13/20",
                    "1 5/20"
                ],
                correct: "1 11/20",
            }, {
                id: "12",
                question: "Какое число получится, если сложить 2 1/5 и 3 3/7?",
                options: [
                    "5 8/35",
                    "5 12/35",
                    "5 1/35",
                    "5 4/35"
                ],
                correct: "5 12/35",
            }, {
                id: "13",
                question: "Какое число получится, если вычесть 4 2/3 из 8?",
                options: [
                    "3 1/3",
                    "2 1/3",
                    "2 2/3",
                    "3 2/3"
                ],
                correct: "2 2/3",
            }, {
                id: "14",
                question: "Какое число получится, если сложить 1 3/4 и 2/3?",
                options: [
                    "2 17/24",
                    "1 10/12",
                    "2 3/12",
                    "2 6/24"
                ],
                correct: "2 17/24",
            }, {
                id: "15",
                question: "Какое число получится, если вычесть 5 1/2 из 12 1/3?",
                options: [
                    "6 10/12",
                    "6 9/12",
                    "6 11/12",
                    "6 8/12"
                ],
                correct: "6 9/12",
            }, {
                id: "16",
                question: "Какое число получится, если сложить 3 5/6 и 2 1/3?",
                options: [
                    "6 1/18",
                    "6 3/18",
                    "6 8/18",
                    "6 5/18"
                ],
                correct: "6 8/18",
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l2s4">Предыдущая тема</a>
    <a href="t1l2test">Пройти тестирование</a>
</div>
