<h2 class="title">Сложение и вычитание дробей с разными знаменателями</h2>


<h3 class="subtitle">1. Основное свойство дроби</h3>
<p class="text">
    Разделим круг на 4 равные части и 3 из них закрасим, а потом
    каждую четверть круга разделим ещё на 5 равных частей. Тогда
    весь круг окажется разделённым на 4 · 5 = 20 частей, а в трёх
    закрашенных четвертях круга будет 3 · 5 таких частей. Поэтому
    <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>3 ∙ 5</mo></mrow>
                <mrow><mo>4 ∙ 5</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>15</mo></mrow>
                <mrow><mo>20</mo></mrow>
            </mfrac>
            <mtext>, т.е.</mtext>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>15</mo></mrow>
                <mrow><mo>20</mo></mrow>
            </mfrac>
            <mtext>. Это равенство можно записать и так:</mtext>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>15</mo></mrow>
                <mrow><mo>20</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>15 : 5</mo></mrow>
                <mrow><mo>20 : 5</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>
<img src="https://lekomtseva.onrender.com/img/t1l2s1_circle" alt="circle"/>
<div class="important-text">
    <p style="margin: 0;" class="text">Если числитель и знаменатель дроби умножить или разделить
    на одно и то же натуральное число, то получится равная ей
    дробь. Это свойство называют основным свойством дроби.</p>
    <p class="text" style="text-align: center">
        Например:
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>2</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>4</mo></mrow>
                    <mrow><mo>10</mo></mrow>
                </mfrac>
                <mtext>, </mtext>
                <mfrac>
                    <mrow><mo>9</mo></mrow>
                    <mrow><mo>15</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>3</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mtext>, </mtext>
                <mfrac>
                    <mrow><mo>16</mo></mrow>
                    <mrow><mo>8</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>2</mo></mrow>
                    <mrow><mo>1</mo></mrow>
                </mfrac>
            </mrow>
        </math>
    </p>
    <p class="text">Две равные дроби являются различными записями одного и того же
    числа.</p>

</div>
<p class="text">Основным свойством дроби является ее делимость на целые числа.
Дробь представляет собой отношение одного числа к другому, где
числитель указывает на количество делимых, а знаменатель - на
количество частей, на которые делимое разбивается. Например,
дробь 3/4 означает, что целое число 3 разбивается на 4 части, и
берется три из них. Дроби позволяет выражать доли и проценты,
также используются в математических выражениях и при решении
уравнений. Дроби могут быть промежуточным значением при
делении или нахождении процента, что делает их важным
инструментом в решении различных задач в математике и в жизни.</p>



<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Сформулируйте основное свойство дроби.</li>
        <li>Изменится ли дробь, если её числитель и знаменатель умножить на
            15, а потом разделить на 3?</li>
    </ol>
</div>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l2s1";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);
        let setCounter = 10;

        const quizArray = [
            {
                id: "0",
                question: "Что означает основное свойство дроби?",
                options: [
                    "Число, которое будет умножено на оба числа дроби, чтобы убрать знаки и получить целые числа",
                    "Умножение числителя на знаменатель, чтобы убрать знаки и получить целое число",
                    "Деление числителя на знаменатель, чтобы получить целое число"
                ],
                correct: "Число, которое будет умножено на оба числа дроби, чтобы убрать знаки и получить целые числа",
            },
            {
                id: "1",
                question: "Как формулируется основное свойство дроби?",
                options: [
                    "Чтобы упростить дробь, нужно умножить числитель и знаменатель на одно и то же ненулевое число",
                    "Чтобы упростить дробь, нужно поделить числитель на знаменатель",
                    "Чтобы упростить дробь, нужно умножить знаменатель на числитель"
                ],
                correct: "Чтобы упростить дробь, нужно умножить числитель и знаменатель на одно и то же ненулевое число",
            },
            {
                id: "2",
                question: "Как называется число, на которое нужно умножить числитель и знаменатель, чтобы упростить дробь?",
                options: [
                    "Общий множитель",
                    "Общий делитель",
                    "Частное от деления числителя на знаменатель"
                ],
                correct: "Общий множитель",
            },
            {
                id: "3",
                question: "Можно ли упростить дробь 7/21 при помощи основного свойства дроби?",
                options: [
                    "Да, можно умножить числитель и знаменатель на 3",
                    "Нет, нельзя упростить эту дробь",
                    "Да, можно поделить числитель и знаменатель на 7"
                ],
                correct: "Да, можно поделить числитель и знаменатель на 7",
            },
            {
                id: "4",
                question: "Какая из дробей не эквивалентна дроби 3/5?",
                options: [
                    "9/15",
                    "6/10",
                    "2/4"
                ],
                correct: "2/4",
            },
            {
                id: "5",
                question: "Какие числа нельзя использовать при умножении числителя и знаменателя для упрощения дроби?",
                options: [
                    "Любые целые числа",
                    "Любые положительные числа",
                    "Нуль и отрицательные числа"
                ],
                correct: "Нуль и отрицательные числа",
            }, {
                id: "6",
                question: "Чему равна дробь 6/24, упрощенная при помощи основного свойства дроби?",
                options: [
                    "1/6",
                    "1/4",
                    "1/2"
                ],
                correct: "1/4",
            }, {
                id: "7",
                question: "Какая дробь сокращена в представлении 60/72?",
                options: [
                    "5/6",
                    "4/5",
                    "6/7"
                ],
                correct: "5/6",
            }, {
                id: "8",
                question: "Верно ли утверждение: \"если у дроби числитель и знаменатель имеют общий делитель, то такая дробь не является правильной\"?",
                options: [
                    "Верно",
                    "Неверно",
                ],
                correct: "Неверно",
            }, {
                id: "9",
                question: "Какой знак имеет дробь, получающаяся при делении целого числа на положительную дробь?",
                options: [
                    "Знак такой дроби всегда положительный",
                    "Знак такой дроби всегда отрицательный",
                    "Знак зависит от знака целого числа"
                ],
                correct: "Знак зависит от знака целого числа",
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <span></span>
    <a href="t1l2s2">Следующая тема</a>
</div>
