<h2 class="title">Сложение и вычитание дробей с разными знаменателями</h2>


<h3 class="subtitle">2. Сокращение дробей</h3>
<p class="text important-text">
    Сокращение дробей - это процесс уменьшения дроби до
    наименьших возможных значений, путем деления числителя и
    знаменателя на их общий делитель. На примере дроби 10/20
    сокращение производится следующим образом:
    <math xmlns="http://www.w3.org/1998/Math/MathML">
        <mrow>
            <mfrac>
                <mrow><mo>10</mo></mrow>
                <mrow><mo>20</mo></mrow>
            </mfrac>
            <mo>=</mo>
            <mtext>(делаем общее упрощение числа 10 и 20)</mtext>
            <mo>=</mo>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>
<p class="text">
    Таким образом, мы уменьшили исходную дробь на 2 раза путем
    деления числителя и знаменателя на их общий делитель. При этом
    значение дроби остается прежним.
</p>

<p class="text">
    Сокращение дробей может быть полезно, когда нужно представить
    дроби в наиболее простом и доступном виде. Его также можно
    использовать при решении математических задач, когда требуется
    провести арифметические операции с дробями.
</p>
<p class="text important-text">
    Стоит заметить, что для сокращения дробей нужно найти их общий
    делитель. Для этого следует разложить числитель и знаменатель
    дроби на простые множители, а затем найти общие множители их
    знаменателей. Выделенные общие множители можно умножить
    между собой, чтобы найти общий делитель дроби.
</p>
<div class="text">
    Пример: Сократить дробь 24/36.
    <ol>
        <li>
            <p class="text">
                Разложим числитель и знаменатель на простые множители: <br>
                24 = 2 ∙ 2 ∙ 2 ∙ 3 <br>
                36 = 2 ∙ 2 ∙ 3 ∙ 3
            </p>
        </li>
        <li>
            <p class="text">
                Выделим общие множители знаменателей, т.е. 2, 2, 3:<br>
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>24</mo></mrow>
                            <mrow><mo>36</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>2 ∙ 2 ∙ 2 ∙ 3</mo></mrow>
                            <mrow><mo>2 ∙ 2 ∙ 3 ∙ 3</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
            </p>
        </li>
        <li>
            <p class="text">
                Делаем общее сокращение по каждой паре общих множителей: <br>
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>2 ∙ 2 ∙ 3</mo></mrow>
                            <mrow><mo>2 ∙ 3 ∙ 3</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>2</mo></mrow>
                            <mrow><mo>3</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
            </p>
        </li>
    </ol>
    <p class="text">Таким образом, мы получили сокращенную дробь 2/3.</p>
</div>
<p class="text important-text">
    Деление числителя и знаменателя на их общий делитель, отличный
    от единицы, называют сокращением дроби.
    Дробь
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
        </mrow>
    </math>
    сократить нельзя, так как числа 3 и 4 взаимно простые.
    Такую дробь называют несократимой.
    Наибольшее число, на которое можно сократить дробь, — это
    наибольший общий делитель её числителя и знаменателя.
    Например, наибольшим общим делителем чисел 150 и 225 является
    75.
</p>
<p class="text">
    Сокращение дробей помогает упростить вычисления с
    использованием дробей и использовать наиболее простые дробные
    значения вместо длинных или сложных числовых значений. Она
    также помогает быстро выполнять дробные операции и усваивать
    материал в учебных задачах.
</p>


<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Что называют сокращением дроби?.</li>
        <li>Какую дробь называют несократимой?</li>
    </ol>
</div>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l2s2";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Что такое сокращение дробей?",
                options: [
                    "Преобразование дроби таким образом, чтобы числитель и знаменатель были меньшими числами",
                    "Преобразование дробной части в целую часть",
                    "Преобразование дробей в десятичные числа"
                ],
                correct: "Преобразование дроби таким образом, чтобы числитель и знаменатель были меньшими числами",
            },
            {
                id: "1",
                question: "Какие дроби называются несократимыми?",
                options: [
                    "Дроби, у которых числитель и знаменатель равны",
                    "Дроби, которые нельзя сократить",
                    "Дроби, которые имеют одинаковый знак"
                ],
                correct: "Дроби, которые нельзя сократить",
            },
            {
                id: "2",
                question: "Какие действия можно выполнять при сокращении дробей?",
                options: [
                    "Умножение числителя на тождественную единицу",
                    "Деление числителя и знаменателя на одно и то же число",
                    "Вычитание числителя из знаменателя"
                ],
                correct: "Деление числителя и знаменателя на одно и то же число",
            },
            {
                id: "3",
                question: "Какая дробь не может быть сокращена?",
                options: [
                    "2/4",
                    "10/5",
                    "7/1"
                ],
                correct: "7/1",
            },
            {
                id: "4",
                question: "Чему равна дробь 6/24, если она сократима?",
                options: [
                    "1/6",
                    "1/4",
                    "1/2",
                    "Она несократима"
                ],
                correct: "1/4",
            },
            {
                id: "5",
                question: "Какие числа можно использовать для сокращения дробей?",
                options: [
                    "Любые целые числа",
                    "Любые положительные числа",
                    "Числа, являющиеся общими делителями числителя и знаменателя"
                ],
                correct: "Числа, являющиеся общими делителями числителя и знаменателя",
            }, {
                id: "6",
                question: "Как можно проверить, что дробь не сократима?",
                options: [
                    "Взять два произвольных числа и попробовать сократить дробь",
                    "Проверить, являются ли числитель и знаменатель взаимно простыми числами",
                    "Выполнить обычные операции над дробью"
                ],
                correct: "Проверить, являются ли числитель и знаменатель взаимно простыми числами",
            }, {
                id: "7",
                question: "Какая дробь является эквивалентной дроби 3/6?",
                options: [
                    "1/2",
                    "1/3",
                    "2/3"
                ],
                correct: "1/2",
            }, {
                id: "8",
                question: "Какие дроби одновременно являются сократимыми и несократимыми?",
                options: [
                    "Ни одна дробь не может быть одновременно сократимой и несократимой",
                    "Только дроби с единичным числителем",
                    "Только дроби с единичным знаменателем",
                ],
                correct: "Ни одна дробь не может быть одновременно сократимой и несократимой",
            }, {
                id: "9",
                question: "Какая из дробей не сократима до целого числа?",
                options: [
                    "6/2",
                    "3/9",
                    "10/1"
                ],
                correct: "3/9",
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l2s1">Предыдущая тема</a>
    <a href="t1l2s3">Следующая тема</a>
</div>
