<h2 class="title">Сложение и вычитание дробей с разными знаменателями</h2>


<h3 class="subtitle">3. Приведение дробей к общему знаменателю</h3>
<p class="text important-text">
    Приведение дробей к общему знаменателю - это процесс, который
    позволяет сравнивать и складывать дроби с разными
    знаменателями. Для этого необходимо найти такое число, которое
    было бы кратно всем знаменателям, и привести все дроби к этому
    знаменателю. <br>
    Существует несколько способов приведения дробей к общему
    знаменателю. Один из них - это умножение каждой дроби на
    множитель, равный произведению всех знаменателей. Таким
    образом, знаменатель каждой дроби станет общим для всех.
</p>

<p class="text">
    Например, если имеем дроби
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>1</mo></mrow>
                <mrow><mo>2</mo></mrow>
            </mfrac>
            <mtext>,</mtext>
            <mfrac>
                <mrow><mo>3</mo></mrow>
                <mrow><mo>4</mo></mrow>
            </mfrac>
            <mtext>,</mtext>
            <mfrac>
                <mrow><mo>5</mo></mrow>
                <mrow><mo>6</mo></mrow>
            </mfrac>
            <mtext>, </mtext>
        </mrow>
    </math>
    и хотим привести их к
    общему знаменателю, то необходимо найти произведение
    знаменателей: 2 ∙ 4 ∙ 6 = 48. Затем каждую дробь умножаем на
    такой множитель, чтобы ее знаменатель стал равным 48:
</p>
<ol>
    <li>
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>1</mo></mrow>
                    <mrow><mo>2</mo></mrow>
                </mfrac>
                <mo>∙</mo>
                <mfrac>
                    <mrow><mo>24</mo></mrow>
                    <mrow><mo>24</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>24</mo></mrow>
                    <mrow><mo>48</mo></mrow>
                </mfrac>
            </mrow>
        </math>
    </li>
    <li>
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>3</mo></mrow>
                    <mrow><mo>4</mo></mrow>
                </mfrac>
                <mo>∙</mo>
                <mfrac>
                    <mrow><mo>12</mo></mrow>
                    <mrow><mo>12</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>36</mo></mrow>
                    <mrow><mo>48</mo></mrow>
                </mfrac>
            </mrow>
        </math>
    </li>
    <li>
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>5</mo></mrow>
                    <mrow><mo>6</mo></mrow>
                </mfrac>
                <mo>∙</mo>
                <mfrac>
                    <mrow><mo>8</mo></mrow>
                    <mrow><mo>8</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>40</mo></mrow>
                    <mrow><mo>48</mo></mrow>
                </mfrac>
            </mrow>
        </math>
    </li>
</ol>
<p class="text">Таким образом, все дроби имеют общий знаменатель 48.</p>

<div class="important-text">
    <p class="text" style="margin-top: 0;">
        Чтобы привести дроби к наименьшему общему знаменателю, надо:
    </p>
    <ol>
        <li><p class="text">
            найти наименьшее общее кратное знаменателей этих дробей,
            оно и будет их наименьшим общим знаменателем;
        </p></li>
        <li><p class="text">
            разделить наименьший общий знаменатель на знаменатели
            данных дробей, т. е. найти для каждой дроби дополнительный
            множитель;
        </p></li>
        <li><p class="text">
            умножить числитель и знаменатель каждой дроби на её
            дополнительный множитель.
        </p></li>
    </ol>
    <p class="text">
        Следует отметить, что приведение дробей к общему знаменателю
        является необходимым условием для проведения операций
        сложения и вычитания дробей. После приведения дробей к общему
        знаменателю, мы можем складывать или вычитать числители, не
        меняя знаменатели.
    </p>
</div>
<p class="text">
    Приведение дробей к общему знаменателю также используется при
    сравнении дробей. Если знаменатели дробей одинаковы, то
    сравнение осуществляется по числителям. Если знаменатели
    разные, то дроби приводятся к общему знаменателю, а затем
    сравниваются по числителям.
</p>
<p class="text">
    В заключение, приведение дробей к общему знаменателю - это
    важный инструмент в арифметике дробей, который позволяет
    выполнять операции сложения, вычитания и сравнения дробей с
    разными знаменателями.
</p>



<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>К какому новому знаменателю можно привести данные дроби?</li>
        <li>Можно ли привести дробь
            <math>
                <mrow>
                    <mfrac>
                        <mrow><mo>3</mo></mrow>
                        <mrow><mo>7</mo></mrow>
                    </mfrac>
                </mrow>
            </math>
            к знаменателю 35? к знаменателю 25?
        </li>
        <li>Какое число называют дополнительным множителем?</li>
        <li>Как найти дополнительный множитель?</li>
        <li>Какое число может служить общим знаменателем двух дробей?</li>
        <li>Как привести дроби к наименьшему общему знаменателю?</li>
    </ol>
</div>

<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l2s3";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Что такое общий знаменатель дробей?",
                options: [
                    "Это знаменатель дроби, у которой числитель и знаменатель имеют общие множители.",
                    "Это знаменатель, который используется для приведения двух или более дробей к эквивалентной форме.",
                    "Это знаменатель, который имеет наименьшее общее кратное всех знаменателей дробей."
                ],
                correct: "Это знаменатель, который имеет наименьшее общее кратное всех знаменателей дробей.",
            },
            {
                id: "1",
                question: "В чем заключается процесс приведения дробей к общему знаменателю?",
                options: [
                    "Процесс заключается в нахождении общего знаменателя для всех дробей.",
                    "Процесс заключается в нахождении числителя и знаменателя для общей дроби.",
                    "Процесс заключается в вычислении несократимой дроби, эквивалентной исходным дробям."
                ],
                correct: "Процесс заключается в нахождении общего знаменателя для всех дробей.",
            },
            {
                id: "2",
                question: " Какой метод можно использовать для приведения дробей к общему знаменателю?",
                options: [
                    "Метод разложения на множители.",
                    "Метод нахождения НОК.",
                    "Оба метода."
                ],
                correct: "Оба метода.",
            },
            {
                id: "3",
                question: "Что такое НОК (наименьшее общее кратное) и как он связан с приведением дробей к общему знаменателю?",
                options: [
                    "НОК - это наименьшее число, которое делится на каждый из знаменателей.",
                    "НОК - это наименьшее число, которое делится на каждый из числителей.",
                    "НОК - это наименьшее число, которое делится на каждый из знаменателей и может быть использовано для нахождения общего знаменателя."
                ],
                correct: "НОК - это наименьшее число, которое делится на каждый из знаменателей и может быть использовано для нахождения общего знаменателя.",
            },
            {
                id: "4",
                question: "Как можно вывести формулу для нахождения общего знаменателя двух дробей?",
                options: [
                    "Нужно умножить два знаменателя и поделить на их НОД.",
                    "Нужно умножить два знаменателя и поделить на их НОК.",
                    "Нужно просто сложить два знаменателя, чтобы получить общий знаменатель.",
                ],
                correct: "Нужно умножить два знаменателя и поделить на их НОК.",
            },
            {
                id: "5",
                question: "Что может произойти, если дроби не привести к общему знаменателю?",
                options: [
                    "Дроби останутся несократимыми.",
                    "Может произойти ошибка при выполнении действий с дробями.",
                    "Приведение дробей к общему знаменателю не влияет на выполнение действий с ними."
                ],
                correct: "Может произойти ошибка при выполнении действий с дробями.",
            }, {
                id: "6",
                question: "Как можно использовать общий знаменатель для упрощения дробей?",
                options: [
                    "Общий знаменатель может быть использован для перевода дробей в проценты.",
                    "Общий знаменатель может быть использован для упрощения дробей путем сокращения числителей.",
                    "Общий знаменатель может быть использован для сложения и вычитания дробей."
                ],
                correct: "Общий знаменатель может быть использован для сложения и вычитания дробей.",
            }, {
                id: "7",
                question: "Как можно привести три или более дробей к общему знаменателю?",
                options: [
                    "Нужно найти общий знаменатель для каждой пары дробей и затем объединить их общие знаменатели в один.",
                    "Нужно найти НОК всех знаменателей и использовать его в качестве общего знаменателя.",
                    "Приведение трех или более дробей к общему знаменателю невозможно."
                ],
                correct: "Нужно найти НОК всех знаменателей и использовать его в качестве общего знаменателя.",
            }, {
                id: "8",
                question: "Как может быть выражен общий знаменатель приведенных дробей?",
                options: [
                    "Общий знаменатель может быть выражен как произведение всех знаменателей.",
                    "Общий знаменатель может быть выражен как наименьшее общее кратное всех знаменателей.",
                    "Общий знаменатель может быть выражен как все знаменатели, возведенные в их общую степень.",
                ],
                correct: "Общий знаменатель может быть выражен как наименьшее общее кратное всех знаменателей.",
            }, {
                id: "9",
                question: "Какое значение имеет приведение дробей к общему знаменателю в математике и на практике?",
                options: [
                    "Приведение дробей к общему знаменателю является важным математическим инструментом, который используется при работе с дробями.",
                    "Приведение дробей к общему знаменателю имеет только теоретическое значение и не применяется на практике.",
                    "Приведение дробей к общему знаменателю используется только в определенных областях математики и науки."
                ],
                correct: "Приведение дробей к общему знаменателю является важным математическим инструментом, который используется при работе с дробями.",
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l2s2">Предыдущая тема</a>
    <a href="t1l2s4">Следующая тема</a>
</div>
