<h2 class="title">Сложение и вычитание дробей с разными знаменателями</h2>


<h3 class="subtitle">4. Сравнение, сложение и вычитание дробей с разными знаменателями</h3>
<p class="text">
    Сравнение, сложение и вычитание дробей – это основные
    операции, выполняемые в арифметике дробей. Однако, когда дроби
    имеют разные знаменатели, выполнение этих операций может
    вызывать затруднения. В этой статье мы рассмотрим способы
    сравнения, сложения и вычитания дробей с разными
    знаменателями.
</p>
<h4 class="subtitle">Сравнение дробей с разными знаменателями</h4>
<div class="important-text">
    <p class="text" style="margin-top: 0;">
        Для сравнения дробей с разными знаменателями нужно привести
        их к общему знаменателю. Это делается путем нахождения
        наименьшего общего кратного (НОК) знаменателей, который будет
        являться общим знаменателем для всех дробей. Затем дроби
        умножают на такое число, чтобы знаменатель каждой дроби стал
        равным общему знаменателю. После этого можно сравнить дроби
        по числителям.
    </p>
</div>
<p class="text">Например, сравнить дроби 2/3 и 4/5. Найдем наименьшее общее
кратное знаменателей:</p>
<ol>
    <li><p class="text">
        Знаменатель 3: 3, 6, 9, 12...<br>
        Знаменатель 5: 5, 10, 15, 20... <br>
        Общие кратные 15 и 30, наименьший общий кратный – 15.
    </p></li>
    <li><p class="text">
        Далее приведем обе дроби к общему знаменателю: <br>
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>2</mo></mrow>
                    <mrow><mo>3</mo></mrow>
                </mfrac>
                <mo>∙</mo>
                <mfrac>
                    <mrow><mo>5</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>10</mo></mrow>
                    <mrow><mo>15</mo></mrow>
                </mfrac>
                <mo>, </mo>
                <mfrac>
                    <mrow><mo>4</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mo>∙</mo>
                <mfrac>
                    <mrow><mo>3</mo></mrow>
                    <mrow><mo>3</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>12</mo></mrow>
                    <mrow><mo>15</mo></mrow>
                </mfrac>
            </mrow>
        </math>
    </p></li>
</ol>
<p class="text">
    Теперь можем сравнить дроби по числителям:
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>10</mo></mrow>
                <mrow><mo>15</mo></mrow>
            </mfrac>
            <mo><</mo>
            <mfrac>
                <mrow><mo>12</mo></mrow>
                <mrow><mo>15</mo></mrow>
            </mfrac>
        </mrow>
    </math>. Таким
    образом, дробь
    <math>
        <mrow>
            <mfrac>
                <mrow><mo>4</mo></mrow>
                <mrow><mo>5</mo></mrow>
            </mfrac>
            <mtext>больше, чем</mtext>
            <mfrac>
                <mrow><mo>2</mo></mrow>
                <mrow><mo>3</mo></mrow>
            </mfrac>
        </mrow>
    </math>
</p>



<h4 class="subtitle">Сложение и вычитание дробей с разными знаменателями</h4>
<p class="text important-text">
    Для сложения и вычитания дробей с разными знаменателями
    следует приводить дроби к общему знаменателю. Это делается тем
    же способом, что и при сравнении дробей.
</p>
<div class="text">
    <p class="text">Например, сложить дроби
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>1</mo></mrow>
                    <mrow><mo>3</mo></mrow>
                </mfrac>
                <mtext>и</mtext>
                <mfrac>
                    <mrow><mo>2</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mtext>:</mtext>
            </mrow>
        </math>
    </p>
    <ol>
        <li>
            <p class="text">Знаменатель 3: 3, 6, 9, 12...</p>
            <p class="text">Знаменатель 5: 5, 10, 15, 20...</p>
            <p class="text">Общие кратные 15 и 30, наименьший общий кратный – 15.</p>
        </li>
        <li>
            <p class="text">
                Приводим дроби к общему знаменателю: <br>
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>1</mo></mrow>
                            <mrow><mo>3</mo></mrow>
                        </mfrac>
                        <mo>∙</mo>
                        <mfrac>
                            <mrow><mo>1</mo></mrow>
                            <mrow><mo>3</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>5</mo></mrow>
                            <mrow><mo>15</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
                <br>
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>2</mo></mrow>
                            <mrow><mo>5</mo></mrow>
                        </mfrac>
                        <mo>∙</mo>
                        <mfrac>
                            <mrow><mo>3</mo></mrow>
                            <mrow><mo>3</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>6</mo></mrow>
                            <mrow><mo>15</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
            </p>
        </li>
        <li>
            <p class="text">
                Теперь можем сложить дроби по числителям:
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>5</mo></mrow>
                            <mrow><mo>15</mo></mrow>
                        </mfrac>
                        <mo>+</mo>
                        <mfrac>
                            <mrow><mo>6</mo></mrow>
                            <mrow><mo>15</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>11</mo></mrow>
                            <mrow><mo>15</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
            </p>
        </li>
    </ol>
    <p class="text">
        Ответ:
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>1</mo></mrow>
                    <mrow><mo>3</mo></mrow>
                </mfrac>
                <mo>+</mo>
                <mfrac>
                    <mrow><mo>2</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>11</mo></mrow>
                    <mrow><mo>15</mo></mrow>
                </mfrac>
            </mrow>
        </math>.
    </p>
</div>

<h4 class="subtitle"></h4>
<div class="important-text">
    <p class="text" style="margin-top: 0;">
        Вычитание дробей с разными знаменателями выполняется
        аналогично сложению, приводим дроби к общему знаменателю и
        вычитаем их разности.
    </p>
</div>

<div class="text">
    <p class="text">Например, вычесть из дроби
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>3</mo></mrow>
                    <mrow><mo>4</mo></mrow>
                </mfrac>
                <mtext>дробь</mtext>
                <mfrac>
                    <mrow><mo>2</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mtext>:</mtext>
            </mrow>
        </math>
    </p>
    <ol>
        <li>
            <p class="text">Знаменатель 4: 4, 8, 12, 16...</p>
            <p class="text">Знаменатель 5: 5, 10, 15, 20...</p>
            <p class="text">Общие кратные 20 и 40, наименьший общий кратный – 20.</p>
        </li>
        <li>
            <p class="text">
                Приводим дроби к общему знаменателю:
                <br>
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>3</mo></mrow>
                            <mrow><mo>4</mo></mrow>
                        </mfrac>
                        <mo>∙</mo>
                        <mfrac>
                            <mrow><mo>5</mo></mrow>
                            <mrow><mo>5</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>15</mo></mrow>
                            <mrow><mo>20</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
                <br>
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>2</mo></mrow>
                            <mrow><mo>5</mo></mrow>
                        </mfrac>
                        <mo>∙</mo>
                        <mfrac>
                            <mrow><mo>4</mo></mrow>
                            <mrow><mo>4</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>8</mo></mrow>
                            <mrow><mo>20</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
            </p>
        </li>
        <li>
            <p class="text">
                Теперь можем вычесть дроби:
                <math>
                    <mrow>
                        <mfrac>
                            <mrow><mo>15</mo></mrow>
                            <mrow><mo>20</mo></mrow>
                        </mfrac>
                        <mo>-</mo>
                        <mfrac>
                            <mrow><mo>8</mo></mrow>
                            <mrow><mo>20</mo></mrow>
                        </mfrac>
                        <mo>=</mo>
                        <mfrac>
                            <mrow><mo>7</mo></mrow>
                            <mrow><mo>20</mo></mrow>
                        </mfrac>
                    </mrow>
                </math>
            </p>
        </li>
    </ol>
    <p class="text">
        Ответ:
        <math>
            <mrow>
                <mfrac>
                    <mrow><mo>3</mo></mrow>
                    <mrow><mo>4</mo></mrow>
                </mfrac>
                <mo>-</mo>
                <mfrac>
                    <mrow><mo>2</mo></mrow>
                    <mrow><mo>5</mo></mrow>
                </mfrac>
                <mo>=</mo>
                <mfrac>
                    <mrow><mo>7</mo></mrow>
                    <mrow><mo>20</mo></mrow>
                </mfrac>
            </mrow>
        </math>.
    </p>
</div>
<p class="text">
    В заключение, для сравнения, сложения и вычитания дробей с
    разными знаменателями нужно приводить дроби к общему
    знаменателю, после чего проводить соответствующие операции с
    числителями.
</p>

<div class="lesson-questions">
    <p class="text">Ответь на вопросы:</p>
    <ol>
        <li>Как сравнить две дроби с разными знаменателями?</li>
        <li>Расскажите, как сложить дроби с разными знаменателями.</li>
        <li>Расскажите, как выполнить вычитание дробей с разными знаменателями.</li>
    </ol>
</div>



<div class="lesson-questions">
    <script src="https://lekomtseva.onrender.com/js/saveLessonResult.js"></script>

    <script>
        const LESSON_NAME = "t1l2s3";
        var lessonResult;
        var lastResult = checkResult(LESSON_NAME);

        const quizArray = [
            {
                id: "0",
                question: "Что нужно сделать с дробями, чтобы сложить или вычесть их, если они имеют разные знаменатели?",
                options: [
                    "Привести дроби к общему знаменателю.",
                    "Умножить числитель и знаменатель на одно и то же число.",
                    "Оставить дроби в исходном виде."
                ],
                correct: "Привести дроби к общему знаменателю.",
            },
            {
                id: "1",
                question: "Что такое общий знаменатель дробей?",
                options: [
                    "Знаменатель, который будет у всех дробей после приведения их к общему знаменателю",
                    "Знаменатель, который будет у всех дробей после умножения их числителей и знаменателей",
                    "Знаменатель, который будет у всех дробей после деления числителя на знаменатель"
                ],
                correct: "Знаменатель, который будет у всех дробей после приведения их к общему знаменателю",
            },
            {
                id: "2",
                question: "Какой способ наиболее удобен для определения общего знаменателя дробей?",
                options: [
                    "Нахождение простого числа, на которое можно умножить каждый из знаменателей для достижения общего знаменателя",
                    "Умножение каждого из знаменателей друг на друга",
                    "Нахождение наименьшего общего кратного знаменателей"
                ],
                correct: "Нахождение наименьшего общего кратного знаменателей",
            },
            {
                id: "3",
                question: "Какие две дроби можно напрямую сложить или вычесть без приведения к общему знаменателю?",
                options: [
                    "Дроби с одинаковыми числителями",
                    "Дроби с одинаковыми знаменателями",
                    "Никакие из дробей, имеющих разные знаменатели, нельзя напрямую сложить или вычесть"
                ],
                correct: "Никакие из дробей, имеющих разные знаменатели, нельзя напрямую сложить или вычесть",
            },
            {
                id: "4",
                question: "Какие операции над дробями можно выполнить после приведения их к общему знаменателю?",
                options: [
                    "К числителям можно просто прибавлять и вычитать знакомые числа",
                    "К числителям можно прибавлять и вычитать только дроби с общим знаменателем",
                    "К числителям нельзя ничего прибавлять и вычитать",
                ],
                correct: "К числителям можно прибавлять и вычитать только дроби с общим знаменателем",
            },
            {
                id: "5",
                question: "Верно ли утверждение: \"если числитель дроби умножить на число, то значение дроби увеличится\"?",
                options: [
                    "Верно",
                    "Неверно"
                ],
                correct: "Верно",
            }, {
                id: "6",
                question: "Как можно проверить, что дробь получилась правильной после сложения или вычитания с другими дробями?",
                options: [
                    "Взять два произвольных числа и попробовать сложить/вычесть дроби, идущие перед и после данной дроби",
                    "Проверить, что числитель меньше знаменателя",
                    "После операции сложения/вычитания перевести дробь в десятичную запись и проверить, что там нет цифр после запятой"
                ],
                correct: "Проверить, что числитель меньше знаменателя",
            }, {
                id: "7",
                question: "Что нужно сделать с дробью, чтобы ее можно было сравнить с другой дробью?",
                options: [
                    "Привести дроби к общему знаменателю",
                    "Перевести дроби в десятичный вид",
                    "Ничего не нужно делать, дроби можно сравнивать в любом виде"
                ],
                correct: "Привести дроби к общему знаменателю",
            }, {
                id: "8",
                question: "Как сравнить две дроби, если они имеют разные знаменатели?",
                options: [
                    "Привести дроби к общему знаменателю и сравнить числители",
                    "Сравнить знаменатели и выбрать большее значение",
                    "Сравнить десятичные значения дробей",
                ],
                correct: "Привести дроби к общему знаменателю и сравнить числители",
            }, {
                id: "9",
                question: "Какие знаки результата могут получиться при сложении или вычитании дробей?",
                options: [
                    "Только положительный или нулевой",
                    "Только отрицательный или нулевой",
                    "Любой знак или нулевой"
                ],
                correct: "Любой знак или нулевой",
            }
        ]
    </script>
    <h3 class="text">Пройти тест:</h3>
    {{>quiz}}
</div>

<div class="lesson-links">
    <a href="t1l2s3">Предыдущая тема</a>
    <a href="t1l2s5">Следующая тема</a>
</div>
